@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgb(194, 194, 194);
  --foreground: rgb(44, 44, 44);
  --nav-color: white;
  --card-bg: rgb(160, 160, 160);
  --brand: #ff00d0;
  --brand2: #ff00d0;
  --pg-color:rgb(87, 87, 87);
  --bd-color:rgb(212, 212, 212);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html {
  scroll-behavior: smooth;
}

html.dark {
  --background: ;
  --foreground: white;
  --card-bg: rgb(75, 75, 75);
  --nav-color: rgb(46, 45, 45);
  --brand2: white;
  --pg-color:rgb(218, 218, 218);
}

img, svg {
  transition: filter 0.35s ease, opacity 0.35s ease;
}

* {
  transition:
    background-color 0.35s ease,
    color 0.35s ease,
    border-color 0.35s ease,
    fill 0.35s ease,
    stroke 0.35s ease;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  color: #383737;
   transition: background-color 0.35s ease, color 0.35s ease;
}

.icon-filter {
  filter: brightness(0) invert(0);
  transition: filter 0.5s ease;
}

.dark .icon-filter {
  filter: brightness(0) invert(1);
}

.icon-filter:hover {
  filter: brightness(1) invert(0);
}
