@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgb(226, 226, 226);
  --foreground: rgb(44, 44, 44);
  --nav-color: white;
  --card-bg: rgb(201, 201, 201);
  --card-hover: rgb(190, 190, 190);
  --brand: #ff00d0;
  --brand2: #ff00d0;
  --pg-color:rgb(87, 87, 87);
  --bd-color:rgb(212, 212, 212);
  --border: rgb(209, 209, 209);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html {
  scroll-behavior: smooth;
}

html.dark {
  --background: #0f0f0f;
  --foreground: white;
  --card-bg: rgb(53, 53, 53);
  --card-hover: rgb(68, 68, 68);
  --nav-color: rgb(29, 29, 32);
  --brand2: white;
  --pg-color:rgb(218, 218, 218);
  --border: rgb(56, 56, 56);
}

body {
  background: var(--background);
  color: var(--foreground);


}

.icon-filter {
  filter: sepia(0.7) saturate(0) brightness(0.6);
}

.dark .icon-filter {
  filter: brightness(0) invert(1);
}
