@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgb(194, 194, 194);
  --foreground: rgb(44, 44, 44);
  --nav-color: white;
  --card-bg: rgb(201, 201, 201);
  --card-hover: rgb(190, 190, 190);
  --brand: #ff00d0;
  --brand2: #ff00d0;
  --pg-color:rgb(87, 87, 87);
  --bd-color:rgb(212, 212, 212);
  --border: rgb(182, 178, 178);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html {
  scroll-behavior: smooth;
}

html.dark {
  --background: ;
  --foreground: white;
  --card-bg: rgb(75, 75, 75);
  --card-hover: rgb(102, 102, 102);
  --nav-color: rgb(46, 45, 45);
  --brand2: white;
  --pg-color:rgb(218, 218, 218);
  --border: rgb(83, 83, 83);
}

body {
  @apply bg-white text-black dark:bg-[#0f0f0f] dark:text-gray-100;
  
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  color: #383737;
   transition: background-color 0.35s ease, color 0.35s ease;
}

.icon-filter {
  filter: sepia(0.7) saturate(0) brightness(0.6);
}

.dark .icon-filter {
  filter: brightness(0) invert(1);
}
